httpx[socks]
openai
pydantic
pydantic_settings
requests
fastapi==0.103.2
starlette==0.27.0
uvicorn
google-genai
jinja2
python-multipart
cryptography
pymysql
sqlalchemy
aiomysql
aiosqlite
databases
python-dotenv
apscheduler
packaging
